
body{
    margin: 0;
    margin-top: 0;
    // margin-right: 0;
    font-family: 'Sen',sans-serif;
    overflow-x: hidden;

    a{
        text-decoration: none;
    }
}


.navbar{
    width: 100%;
    background: black;
    color: white;
    // display: flex;
    // padding: 1em;
    height: 5rem;

    h1{
        font-family:'Kdam Thmor Pro', sans-serif;
        font-size: 1.7em;
        margin-left: 1rem;
        vertical-align:middle;
        float: left;
    }
    a{
        color: white;
    }
    svg{
        float: right;
        padding: 2.3rem 2rem;
        width: 2rem;
        height: 1rem;
    }
}
section.info{
    padding-top: -1rem;
    background: #181823;
    color: white;
    img{
        margin-top: -.6rem;
        width: 100%;
        top: 0%;
    }
    h2{
        font-size: 1.6em;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    p{
        font-size: 1.2em;
        padding-bottom: 2.4rem;
        padding-top: 1rem;
    }
    .more-info{
        margin: 2rem;
        // text-align: center;
        padding-bottom: 1.5rem;
        span{
            color: #8491A0;
        }
   }
}
.page2{
    // text-align: center;
    padding-top: .6rem;
    // padding-bottom: 1.5rem;

    .title{
        font-size: 1.6em;
    }
    p{
        font-size: 1.2em;
        padding-bottom: 3rem;
    }
    .text{
        margin: 2rem;
    }
    svg{
        width: 100%;
    }
}

section.projects{
    margin-top: -1.8rem;
    padding: 4rem 1rem 4rem;
    // right: -2rem;
    color: white;
    background: black;
    // padding: 2rem;

    .project{
        a{
            color:white;
        }
        img{
            padding-top: -5rem;
        }
        background:#181823 ;
    }

    .start{
        margin-bottom: 3rem;
        h5{
            color: #8491A0;
        }
    }
    img{
        width: 100%;
    }
    .project-info{
        margin: 1rem;
        h4{
            font-size: 1.4em;
        }
        p{
            font-size: 1.1em;
            padding-bottom: 1.5rem;
        }
    }
}

.github-section{
    .github{
        margin: 3rem 0rem 0rem 1rem;
        font-size: large;
        // padding-top: 4rem;
        padding-bottom: 3rem;
        p{
            padding-bottom: 5rem;
        }
        a{
            font-size: large;
            font-weight: bold;
            color: black;
            border-bottom: 1px solid #5B6876;
        }
    }
    img{
        width: 100%;
        margin-bottom: -1rem;
    }
}

section.footer{
    color: white;
    background:#181823;
    padding: 2rem 0rem 10rem 1rem;
    h1{
        font-family:'Kdam Thmor Pro', sans-serif;
        font-size: 1.7em;
    }
    svg{
        width: 2rem;
        margin-top: -1rem;
        padding:0rem 0rem .4rem;
        margin-left: -1rem;
        margin-right: .4rem;
    }
    .social{
        position:absolute;
        margin-top: 1rem;
        // padding: 1rem;
        ul{
            list-style-type: none;
        }
        svg{
            float: left;
            margin-left: -1.7rem;
        }
        h4{
            float: left;
            margin-top: -.1rem;
        }
    }
}



