body {
  margin: 0;
  margin-top: 0;
  font-family: 'Sen',sans-serif;
  overflow-x: hidden;
}

body a {
  text-decoration: none;
}

header h1 {
  font-family: 'Kdam Thmor Pro', sans-serif;
  margin-top: 0%;
  margin-bottom: 0%;
  padding: 1rem 0rem 1.4rem 1.5rem;
  background: #181823;
  text-decoration: none;
  color: white;
  float: left;
}

header h1 a {
  color: white;
}

.menu {
  width: 2.1em;
  margin: 2em 1.5rem 1rem 0rem;
  cursor: pointer;
  float: right;
}

.navbar {
  position: fixed;
  right: 0;
  top: 0;
  background: white;
  height: 100vh;
  width: 50%;
  z-index: 10;
  text-transform: uppercase;
  -webkit-transform: translate(100%);
          transform: translate(100%);
  -webkit-transition: -webkit-transform .5s ease-in-out;
  transition: -webkit-transform .5s ease-in-out;
  transition: transform .5s ease-in-out;
  transition: transform .5s ease-in-out, -webkit-transform .5s ease-in-out;
}

.navbar ul {
  list-style-type: none;
  padding: 0;
  margin-top: 8em;
}

.navbar ul a {
  color: black;
  padding: .75em 2em;
  display: block;
}

.navbar ul a:hover {
  background: #5B6876;
  color: white;
}

.navbar .close {
  float: right;
  margin: 1.5em;
  width: 2.5em;
}

section.info {
  padding-top: -1rem;
  background: #181823;
  color: white;
}

section.info img {
  margin-top: -.6rem;
  width: 100%;
}

section.info h2 {
  font-size: 1.6em;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

section.info p {
  font-size: 1.2em;
  padding-bottom: 2.4rem;
  padding-top: 1rem;
}

section.info .more-info {
  margin: 2rem;
  padding-bottom: 1.5rem;
}

section.info .more-info span {
  color: #8491A0;
}

.page2 {
  padding-top: .6rem;
}

.page2 .title {
  font-size: 1.6em;
}

.page2 p {
  font-size: 1.2em;
  padding-bottom: 3rem;
}

.page2 .text {
  margin: 2rem;
}

.page2 svg {
  width: 100%;
}

section.projects {
  margin-top: -1.8rem;
  padding: 4rem 1rem 4rem;
  color: white;
  background: black;
}

section.projects .project {
  background: #181823;
}

section.projects .project a {
  color: white;
}

section.projects .project img {
  padding-top: -5rem;
}

section.projects .start {
  margin-bottom: 3rem;
}

section.projects .start h5 {
  color: #8491A0;
}

section.projects img {
  width: 100%;
}

section.projects .project-info {
  margin: 1rem;
}

section.projects .project-info h4 {
  font-size: 1.4em;
}

section.projects .project-info p {
  font-size: 1.1em;
  padding-bottom: 1.5rem;
}

.github-section .github {
  margin: 3rem 0rem 0rem 1rem;
  font-size: large;
  padding-bottom: 3rem;
}

.github-section .github p {
  padding-bottom: 5rem;
}

.github-section .github a {
  font-size: large;
  font-weight: bold;
  color: black;
  border-bottom: 1px solid #5B6876;
}

.github-section img {
  width: 100%;
  margin-bottom: -1rem;
}

section.footer {
  color: white;
  background: #181823;
  padding: 2rem 0rem 10rem 1rem;
}

section.footer h1 {
  font-family: 'Kdam Thmor Pro', sans-serif;
  font-size: 1.7em;
}

section.footer svg {
  width: 2rem;
  margin-top: -1rem;
  padding: 0rem 0rem .4rem;
  margin-left: -1rem;
  margin-right: .4rem;
}

section.footer .social {
  position: absolute;
  margin-top: 1rem;
}

section.footer .social ul {
  list-style-type: none;
}

section.footer .social svg {
  float: left;
  margin-left: -1.7rem;
}

section.footer .social h4 {
  float: left;
  margin-top: -.1rem;
}

@media only screen and (min-width: 720px) {
  body {
    margin: 0rem;
  }
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: #181823;
  }
  header h1 {
    background: #181823;
    margin-top: .4rem;
  }
  header svg {
    display: none;
  }
  header .navbar {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    display: block;
    position: absolute;
    width: auto;
    height: auto;
    background: none;
  }
  header .navbar a {
    color: white;
    font-size: small;
  }
  header .navbar a:hover {
    background: none;
    text-decoration: underline;
  }
  header .navbar ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 1.8em;
  }
  section.info {
    background: #181823;
    padding-top: .6rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
  section.info img {
    width: 50%;
    float: left;
    height: 100%;
  }
  section.info .more-info {
    position: absolute;
    padding-left: 40%;
  }
  section.page2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: -.6rem;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  section.page2 .text {
    width: 50%;
    position: relative;
    float: right;
  }
  section.page2 svg {
    width: 50%;
    padding-bottom: 1.8rem;
    position: relative;
  }
}
/*# sourceMappingURL=main.css.map */