
body{
    margin: 0;
    margin-top: 0;
    font-family: 'Sen',sans-serif;
    a{
        text-decoration: none;
    }
}


.navbar{
    width: 100%;
    background: black;
    color: white;
    // display: flex;
    padding: 1em;
    height: 5rem;

    h1{
        font-family:'Kdam Thmor Pro', sans-serif;
        font-size: 1.7em;
        margin-left: 1rem;
        vertical-align:middle;
        float: left;
    }
    a{
        color: white;
    }
    svg{
        float: right;
        padding: 2.3rem;
        width: 2rem;
        height: 1rem;
    }
}
section.info{
    background: #181823;
    color: white;
    img{
        width: 100%;
        top: 0%;
    }
    .more-info{
        
        text-align: center;
        padding-bottom: 1.5rem;
        span{
            color: gray;
        }
   }
}
